*{
    box-sizing: border-box;
    font-family: sans-serif;
}

.card{
    margin: 20px auto;
    width: 340px;
    position: relative;   
}

.card:hover{
    animation: hop 500ms ease-in-out forwards;
}
@keyframes hop {
    0% {margin-top: 20px;}
    50% {margin-top: 5px;}
    100% {margin-top: 8px;}
  }

.card .card__body{
    width: 90%;
    padding: 15px;   
    border-radius: 8px;
    box-shadow: 0 3px 15px 0px #c4c0c0;
    background: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -4%;
    display: flex;
    justify-content: space-between;
}

.card .card__body .info-box .star{
    color: #EFDA56;
    letter-spacing: 5px;
}

.card .card__body .info-box .review{
    color: #A1A5B0;
    font-size: 13px;
    margin-left: 5px;
}

.card .card__body .info-box .hotel{
    margin: 8px 0 0 0;
    font-size: 1.72rem;
    font-weight: 400;
}

.card .card__body .info-box .location{
    margin: 3px 0 0 0;
    color: #A1A5B0;
}

.card .card__body .info-box .price{
    margin: 15px 0 0 0;
    font-size: 1.15rem;
    font-weight: 400; 
}

.card .card__body .action-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card .card__body .action-box .round{
    background: #325EF5;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: relative; 
    cursor: pointer;
}

.card .card__body .action-box .round .arrow{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
}

.card .card__header .heart{
    position: absolute;
    top: 20px;
    right: 5%;
}
